@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamMediumRegular/Gotham\ Medium\ Regular.ttf');
  src: local('Gotham'), url('/fonts/GothamMediumRegular/gotham-medium-webfont.woff') format('woff'), url('/fonts/GothamMediumRegular/Gotham\ Medium\ Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamBook';
	src: url('/fonts/GothamBook/GothamBook.eot');
	src: local('GothamBook'), url('/fonts/GothamBook/GothamBook.woff') format('woff'), url('/fonts/GothamBook/GothamBook.ttf') format('truetype');
}

.gallery { 
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 140px;
}

.gallery__hr-line { 
  width: 100px;
  height: 1px;
  margin: 100px auto 40px;
  background-color: #2c4058;
}

.gallery__title { 
  font-family: 'Gotham';
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  color: #2c4058;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.gallery__conteiner { 
  display: flex;
  justify-content: center;
}

// .gallery-firstblock { }

.gallery-firstblock__bgimg { 
  width: 580px;
  height: 438px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 1s;
  transition-property: transform;
  margin-bottom: 20px;
}

.gallery-secblock { 
  width: 285px;
  margin-left: 10px;
}

.gallery-secblock__img { 
  width: 285px;
  height: 215px;
  margin-bottom: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 1s;
  transition-property: transform;
}

.gallery-thrblock { 
  width: 285px;
  margin-left: 10px;
}

.gallery-thrblock__img { 
  width: 285px;
  height: 215px;
  margin-bottom: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 1s;
  transition-property: transform;
}

.gallery-firstblock__bgimg:hover, .gallery-firstblock__bgimg:focus, .gallery-firstblock__bgimg:active {
  transform: scale(1.2);
}

.gallery-secblock__img:hover, .gallery-secblock__img:focus, .gallery-secblock__img:active {
  transform: scale(1.5);
}

.gallery-thrblock__img:hover, .gallery-thrblock__img:focus, .gallery-thrblock__img:active {
  transform: scale(1.5);
}

.gallery-button { 
  width: 190px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid 1px #2c4058;
  font-family: 'GothamBook';
  font-size: 14px;
  color: #2c4058;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 40px;
}

.gallery-button:hover {
  font-family: 'Gotham';
  border: solid 3px #2c4058;
}

.gallery-button:active {
  transform: translateY(3px);
  box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery-second{
  display: flex;
  justify-content: center;
}