* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamMediumRegular/Gotham Medium Regular.ttf");
  src: local("Gotham"), url("../fonts/GothamMediumRegular/gotham-medium-webfont.woff") format("woff"), url("../fonts/GothamMediumRegular/Gotham Medium Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'gothambold';
  src: url("../fonts/gothambold/gothambold1.eot");
  src: local("gothambold"), url("../fonts/gothambold/gothambold1.woff") format("woff"), url("../fonts/gothambold/gothambold1.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
}

body {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.conteiner {
  width: 100%;
  height: 800px;
  background: url(../image/jpeg/Bg-1.jpg) no-repeat center center;
}

.header-conteiner {
  max-width: 1100px;
  margin: auto;
  padding: 50px 0px 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteiner-menu-list__link {
  list-style: circle;
  color: white;
  font-size: 25px;
  margin-right: 70px;
}

.conteiner-menu-list__link:last-child {
  margin-right: 0px;
}

.conteiner-menu-list__link:hover {
  list-style: disc;
}

.link {
  font-family: 'GothamBook';
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.conteiner-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner-icon__link {
  list-style: none;
}

.fab {
  color: white;
  border: solid 1px white;
  border-radius: 50%;
}

.fa-facebook-f {
  padding: 12px 15px 12px 15px;
  margin-right: 15px;
}

.fa-twitter {
  padding: 12px;
  margin-right: 15px;
}

.fa-instagram {
  padding: 12px 13px 12px 13px;
}

.fab:hover {
  color: #00ff0d;
  border: solid 1px #00ff0d;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main-slide .slick-slider {
  min-width: 0;
}

.main-slide .slick-list {
  overflow: hidden;
}

.main-slide .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-slide {
  position: relative;
  padding-top: 15%;
}

.main-slide .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  position: absolute;
  top: 160px;
  right: 40px;
}

.main-slide .slick-dots li {
  list-style: none;
}

.main-slide .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
}

.main-slide .slick-active button {
  background-color: white;
}

.main-slide__img-text {
  font-family: 'Gotham';
  font-size: 80px;
  font-weight: bold;
  line-height: 0.28;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1%;
  padding-top: 20px;
}

.main-slide__img-subtext {
  font-family: 'GothamBook';
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 5.4px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 3%;
}

.scroll {
  width: 40px;
  margin: auto;
  position: relative;
  bottom: -220px;
  animation: .7s down  infinite alternate;
  -webkit-animation: .7s down infinite alternate;
}

.scroll .fa-angle-down {
  color: white;
  border: solid 1px white;
  border-radius: 50%;
  padding: 12px 15px 12px 16px;
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}

.fa-angle-down:hover {
  color: aqua;
  border: solid 1px aqua;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
/*# sourceMappingURL=style.css.map */