* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./blockHeader";
@import "./secondBlock";
@import "./secondBlockPart2";
@import "./latest-news";
@import "./gallery";
@import "./contact";
@import "./footer";